diffusers==0.25.0
torch==2.1.0
pytorch-lightning==1.9.0
transformers==4.37.2
einops==0.7.0
open-clip-torch==2.20.0
peft==0.10.0
Pillow==9.5.0
PyYAML==6.0
pyiqa==0.1.10
basicsr
loralib
fairscale
numpy==1.22.2
opencv-python==4.10.0.84
tqdm
scikit-learn
scipy
torchvision
omegaconf
ninja
torchsde
taming-transformers
xformers